
* {
    box-sizing: border-box;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

html {
    height: 100vh;
}

html, body {
    font-family: "Carter One", cursive;
    letter-spacing: 2px;
    color: #002244;
    text-shadow: 2px 2px 4px #bb7700;
    background: linear-gradient(#00ddff, #004466) no-repeat center fixed;
}

body {
    width: 720px;
    border: 16px solid #bb7700;
    border-right-color: #aa6600;
    border-bottom-color: #995500;
    border-left-color: #cc8800;
    margin: 64px auto;
}

header {
    text-align: center;
    box-shadow: 0 8px 16px #000022;
    padding: 16px 64px;
    background-image: radial-gradient(#004488 5%, #005599 10%, #9acd32 20%, #005599 30%, #004488 35%);
}

.flex-container {
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4, p {
    text-align: center;
    margin: 8px auto;
}

h1 {
    font-size: 3em;
}

h2 {
    font-family: "Freckle Face", cursive, sans-serif;
    font-size: 2em;
}

h3 {
    font-size: 2em;
    color: #00db00;
    margin: 32px auto;
}

h4 {
    font-size: 0.8em;
}

hr {
    width: 32px;
    border-color: #00db00;
}

span {
    position: absolute;
    top: 32%;
}

span.left {
    left: 20%;
}

span.right {
    right: 20%;
}

.think-left-parent, .think-right-parent {
    position: relative;
    width: 128px;
    height: 64px;
    background: #00ffff;
    box-shadow: 0 8px 16px #000022;
    border: 1px solid #0000bb;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 32px 16px;
}

.think-left-first-child, .think-right-first-child {
    position: absolute;
    top: 80%;
    width: 40px;
    height: 24px;
    background: #00ffff;
    border: 1px solid #0000bb;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.think-left-first-child, .think-left-second-child {
    left: 50%;
}

.think-right-first-child, .think-right-second-child {
    right: 50%;
}

.think-left-second-child, .think-right-second-child {
    position: absolute;
    top: 88%;
    width: 24px;
    height: 16px;
    background: #00ffff;
    border: 1px solid #0000bb;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#wins, #losses {
    width: 200px;
    background-color: #002266;
    color: #00ffff;
    box-shadow: 2px 2px 4px #bb7700;
    padding: 8px 16px;
}

#message {
    width: 296px;
    height: 64px;
    font-size: 0.8em;
    background: #00ffff;
    border: 1px solid #0000bb;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 16px 0;
    margin: 32px auto;
}

